.footer {
    background-color: #00b7ff;
    &__row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        max-width: 1200px;

        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: -10px;
        margin-right: -10px;
    }
    &__col {
        width: 50%;

        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
    
}