.valmynd {
  background-color: #ff5000;
  &__width {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px; 
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  &__title {
    width: 100%;
    flex: 1;
  }
  &__content {
    display: flex;
    color: #000000;
    flex: 2;
  }
  a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
  }
  a:hover {
    color: #fffcf2;
  }
}

