.valmynd{
    background-color: #ff5000;
    width: 100%;
    max-width: 1200px;
    height: 20%;
    display: flex;
    flex-flow: row wrap;
    
  }
  .valmynd > * {
    flex: 1 100%;
  }
  .valmynd > a {
    flex: 1 auto;
  }