@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;

  // TODO fleiri grunn stillingar
}
p {
  color: red;
}

// #valmynd{
//   background-color: #ff5000;
//   width: 100%;
//   height: 20%;
// }

// TODO sækja allar sass skrár
@import "scss/...";

