@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;

  // TODO fleiri grunn stillingar
}

.valmynd{
  background-color: #ff5000;
  width: 100%;
  max-width: 1200px;
  height: 20%;
  display: flex;
  flex-flow: row wrap;
}
.valmynd > * {
  flex: 1 100%;
}
.valmynd > a {
  flex: 1 auto;
}

// TODO sækja allar sass skrár
@import "scss/footer.scss";
@import "scss/header.scss";

